.free-shipping-message {}
.free-shipping-message p {}
.free-shipping-message p strong {}
div.free-shipping-achieved {}
div.free-shipping-achieved p {}
div.free-shipping-achieved p strong {}


.overlay-content {
    width: 500px;
    padding: 20px;
    background: #fff;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -250px;
    z-index: 10000;
    border: 1px solid #ccc;
}
.overlay-content .close {
    display: block;
    background-image:url(../images/overlay-close.png);
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer;
    height:28px;
    width:28px;
    text-indent: -9999em;
    overflow: hidden;
}
.overlay-content-wrap {
	padding:15px;
	font-size:1.65em;
	font-weight: bold;
}
.overlay-mask {
    /*display: none;*/
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9500;
    background: #000;
    /* IE 8 & 9 */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=50);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.5;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.5;

    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.5;
}