
.product-view .product-shop .price-box .old-price{margin-top:0}button.btn-checkout span span .img-checkout{display:none}#nav ul.level0>li{float:left !important}.header{z-index:3000;position:relative}.header .form-search
.button{top:2px;right:0}.user-menu{overflow:visible !important}li.level0>a>span>.cat-label{top:-24px;right:5px}.dropdown-toggle
*{display:block;float:left}.dropdown-menu > li
*{display:block;float:left}.dropdown-toggle
.caret{background:url(/skin/frontend/ultimo/default/images/infortis/_shared/dropdown/arrow-dropdown.png) 100% 50% no-repeat;width:10px;text-indent:-9999px;content:inherit;height:auto;display:block;margin:0;vertical-align:inherit;border:none}.v-grid-container .v-grid{float:left;display:block;width:32%}.v-grid-container .v-grid.clearer{clear:none}.v-grid-container .user-menu{float:right}.v-grid-container .header-top-search-wrapper{margin-top:25px}.clearer{display:block;clear:both;height:auto;overflow:hidden}.cart
.crosssell{display:block;clear:both;height:auto;overflow:hidden}