
.calendar{position:relative;display:none;border-top:2px solid #fff;border-right:2px solid #000;border-bottom:2px solid #000;border-left:2px solid #fff;font-size:11px;color:#000;cursor:default;background:#d4d0c8;font-family:tahoma,verdana,sans-serif}.calendar
table{border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000;font-size:11px;color:#000;cursor:default;background:#d4d0c8;font-family:tahoma,verdana,sans-serif}.calendar
.button{text-align:center;padding:1px;border-top:1px solid #fff;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #fff}.calendar
.nav{background:transparent url(/js/calendar/menuarrow.gif) no-repeat 100% 100%}.calendar thead
.title{font-weight:bold;padding:1px;border:1px
solid #000;background:#848078;color:#fff;text-align:center}.calendar thead
.headrow{}.calendar thead
.daynames{}.calendar thead
.name{border-bottom:1px solid #000;padding:2px;text-align:center;background:#f4f0e8}.calendar thead
.weekend{color:#f00}.calendar thead
.hilite{border-top:2px solid #fff;border-right:2px solid #000;border-bottom:2px solid #000;border-left:2px solid #fff;padding:0px;background-color:#e4e0d8}.calendar thead
.active{padding:2px
0px 0px 2px;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000;background-color:#c4c0b8}.calendar tbody
.day{width:2em;text-align:right;padding:2px
4px 2px 2px}.calendar tbody
.day.othermonth{font-size:80%;color:#aaa}.calendar tbody
.day.othermonth.oweekend{color:#faa}.calendar table
.wn{padding:2px
3px 2px 2px;border-right:1px solid #000;background:#f4f0e8}.calendar tbody .rowhilite
td{background:#e4e0d8}.calendar tbody .rowhilite
td.wn{background:#d4d0c8}.calendar tbody
td.hilite{padding:1px
3px 1px 1px;border-top:1px solid #fff;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #fff}.calendar tbody
td.active{padding:2px
2px 0px 2px;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000}.calendar tbody
td.selected{font-weight:bold;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000;padding:2px
2px 0px 2px;background:#e4e0d8}.calendar tbody
td.weekend{color:#f00}.calendar tbody
td.today{font-weight:bold;color:#00f}.calendar tbody
.disabled{color:#999}.calendar tbody
.emptycell{visibility:hidden}.calendar tbody
.emptyrow{display:none}.calendar tfoot
.footrow{}.calendar tfoot
.ttip{background:#f4f0e8;padding:1px;border:1px
solid #000;background:#848078;color:#fff;text-align:center}.calendar tfoot
.hilite{border-top:1px solid #fff;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #fff;padding:1px;background:#e4e0d8}.calendar tfoot
.active{padding:2px
0px 0px 2px;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000}.calendar
.combo{position:absolute;display:none;width:4em;top:0px;left:0px;cursor:default;border-top:1px solid #fff;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #fff;background:#e4e0d8;font-size:90%;padding:1px;z-index:100}.calendar .combo .label,
.calendar .combo .label-IEfix{text-align:center;padding:1px}.calendar .combo .label-IEfix{width:4em}.calendar .combo
.active{background:#c4c0b8;padding:0px;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000}.calendar .combo
.hilite{background:#048;color:#fea}.calendar
td.time{border-top:1px solid #000;padding:1px
0px;text-align:center;background-color:#f4f0e8}.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time
.ampm{padding:0px
3px 0px 4px;border:1px
solid #889;font-weight:bold;background-color:#fff}.calendar td.time
.ampm{text-align:center}.calendar td.time
.colon{padding:0px
2px 0px 3px;font-weight:bold}.calendar td.time
span.hilite{border-color:#000;background-color:#766;color:#fff}.calendar td.time
span.active{border-color:#f00;background-color:#000;color:#0f0}
.overlay_dialog{background-color:#666;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6}.overlay___invisible__{background-color:#666;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}.dialog_nw{width:9px;height:23px;background:transparent url(/js/prototype/windows/themes/default/top_left.gif) no-repeat 0 0}.dialog_n{background:transparent url(/js/prototype/windows/themes/default/top_mid.gif) repeat-x 0 0;height:23px}.dialog_ne{width:9px;height:23px;background:transparent url(/js/prototype/windows/themes/default/top_right.gif) no-repeat 0 0}.dialog_e{width:2px;background:transparent url(/js/prototype/windows/themes/default/center_right.gif) repeat-y 0 0}.dialog_w{width:2px;background:transparent url(/js/prototype/windows/themes/default/center_left.gif) repeat-y 0 0}.dialog_sw{width:9px;height:19px;background:transparent url(/js/prototype/windows/themes/default/bottom_left.gif) no-repeat 0 0}.dialog_s{background:transparent url(/js/prototype/windows/themes/default/bottom_mid.gif) repeat-x 0 0;height:19px}.dialog_se{width:9px;height:19px;background:transparent url(/js/prototype/windows/themes/default/bottom_right.gif) no-repeat 0 0}.dialog_sizer{width:9px;height:19px;background:transparent url(/js/prototype/windows/themes/default/sizer.gif) no-repeat 0 0;cursor:se-resize}.dialog_close{width:14px;height:14px;background:transparent url(/js/prototype/windows/themes/default/close.gif) no-repeat 0 0;position:absolute;top:5px;left:8px;cursor:pointer;z-index:2000}.dialog_minimize{width:14px;height:15px;background:transparent url(/js/prototype/windows/themes/default/minimize.gif) no-repeat 0 0;position:absolute;top:5px;left:28px;cursor:pointer;z-index:2000}.dialog_maximize{width:14px;height:15px;background:transparent url(/js/prototype/windows/themes/default/maximize.gif) no-repeat 0 0;position:absolute;top:5px;left:49px;cursor:pointer;z-index:2000}.dialog_title{float:left;height:14px;font-family:Tahoma,Arial,sans-serif;font-size:12px;text-align:center;width:100%;color:#000}.dialog_content{overflow:auto;color:#DDD;font-family:Tahoma,Arial,sans-serif;font-size:10px;background-color:#123}.top_draggable,.bottom_draggable{cursor:move}.status_bar{font-size:12px}.status_bar
input{font-size:12px}.wired_frame{display:block;position:absolute;border:1px
#000 dashed}.dialog{display:block;position:absolute}.dialog
table.table_window{border-collapse:collapse;border-spacing:0;width:100%;margin:0px;padding:0px}.dialog table.table_window td , .dialog table.table_window
th{padding:0}.dialog
.title_window{-moz-user-select:none}