
.calendar{position:relative;display:none;border-top:2px solid #fff;border-right:2px solid #000;border-bottom:2px solid #000;border-left:2px solid #fff;font-size:11px;color:#000;cursor:default;background:#d4d0c8;font-family:tahoma,verdana,sans-serif}.calendar
table{border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000;font-size:11px;color:#000;cursor:default;background:#d4d0c8;font-family:tahoma,verdana,sans-serif}.calendar
.button{text-align:center;padding:1px;border-top:1px solid #fff;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #fff}.calendar
.nav{background:transparent url(/js/calendar/menuarrow.gif) no-repeat 100% 100%}.calendar thead
.title{font-weight:bold;padding:1px;border:1px
solid #000;background:#848078;color:#fff;text-align:center}.calendar thead
.headrow{}.calendar thead
.daynames{}.calendar thead
.name{border-bottom:1px solid #000;padding:2px;text-align:center;background:#f4f0e8}.calendar thead
.weekend{color:#f00}.calendar thead
.hilite{border-top:2px solid #fff;border-right:2px solid #000;border-bottom:2px solid #000;border-left:2px solid #fff;padding:0px;background-color:#e4e0d8}.calendar thead
.active{padding:2px
0px 0px 2px;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000;background-color:#c4c0b8}.calendar tbody
.day{width:2em;text-align:right;padding:2px
4px 2px 2px}.calendar tbody
.day.othermonth{font-size:80%;color:#aaa}.calendar tbody
.day.othermonth.oweekend{color:#faa}.calendar table
.wn{padding:2px
3px 2px 2px;border-right:1px solid #000;background:#f4f0e8}.calendar tbody .rowhilite
td{background:#e4e0d8}.calendar tbody .rowhilite
td.wn{background:#d4d0c8}.calendar tbody
td.hilite{padding:1px
3px 1px 1px;border-top:1px solid #fff;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #fff}.calendar tbody
td.active{padding:2px
2px 0px 2px;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000}.calendar tbody
td.selected{font-weight:bold;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000;padding:2px
2px 0px 2px;background:#e4e0d8}.calendar tbody
td.weekend{color:#f00}.calendar tbody
td.today{font-weight:bold;color:#00f}.calendar tbody
.disabled{color:#999}.calendar tbody
.emptycell{visibility:hidden}.calendar tbody
.emptyrow{display:none}.calendar tfoot
.footrow{}.calendar tfoot
.ttip{background:#f4f0e8;padding:1px;border:1px
solid #000;background:#848078;color:#fff;text-align:center}.calendar tfoot
.hilite{border-top:1px solid #fff;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #fff;padding:1px;background:#e4e0d8}.calendar tfoot
.active{padding:2px
0px 0px 2px;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000}.calendar
.combo{position:absolute;display:none;width:4em;top:0px;left:0px;cursor:default;border-top:1px solid #fff;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #fff;background:#e4e0d8;font-size:90%;padding:1px;z-index:100}.calendar .combo .label,
.calendar .combo .label-IEfix{text-align:center;padding:1px}.calendar .combo .label-IEfix{width:4em}.calendar .combo
.active{background:#c4c0b8;padding:0px;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000}.calendar .combo
.hilite{background:#048;color:#fea}.calendar
td.time{border-top:1px solid #000;padding:1px
0px;text-align:center;background-color:#f4f0e8}.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time
.ampm{padding:0px
3px 0px 4px;border:1px
solid #889;font-weight:bold;background-color:#fff}.calendar td.time
.ampm{text-align:center}.calendar td.time
.colon{padding:0px
2px 0px 3px;font-weight:bold}.calendar td.time
span.hilite{border-color:#000;background-color:#766;color:#fff}.calendar td.time
span.active{border-color:#f00;background-color:#000;color:#0f0}
.overlay_dialog{background-color:#666;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6}.overlay___invisible__{background-color:#666;filter:alpha(opacity=0);-moz-opacity:0;opacity:0}.dialog_nw{width:9px;height:23px;background:transparent url(/js/prototype/windows/themes/default/top_left.gif) no-repeat 0 0}.dialog_n{background:transparent url(/js/prototype/windows/themes/default/top_mid.gif) repeat-x 0 0;height:23px}.dialog_ne{width:9px;height:23px;background:transparent url(/js/prototype/windows/themes/default/top_right.gif) no-repeat 0 0}.dialog_e{width:2px;background:transparent url(/js/prototype/windows/themes/default/center_right.gif) repeat-y 0 0}.dialog_w{width:2px;background:transparent url(/js/prototype/windows/themes/default/center_left.gif) repeat-y 0 0}.dialog_sw{width:9px;height:19px;background:transparent url(/js/prototype/windows/themes/default/bottom_left.gif) no-repeat 0 0}.dialog_s{background:transparent url(/js/prototype/windows/themes/default/bottom_mid.gif) repeat-x 0 0;height:19px}.dialog_se{width:9px;height:19px;background:transparent url(/js/prototype/windows/themes/default/bottom_right.gif) no-repeat 0 0}.dialog_sizer{width:9px;height:19px;background:transparent url(/js/prototype/windows/themes/default/sizer.gif) no-repeat 0 0;cursor:se-resize}.dialog_close{width:14px;height:14px;background:transparent url(/js/prototype/windows/themes/default/close.gif) no-repeat 0 0;position:absolute;top:5px;left:8px;cursor:pointer;z-index:2000}.dialog_minimize{width:14px;height:15px;background:transparent url(/js/prototype/windows/themes/default/minimize.gif) no-repeat 0 0;position:absolute;top:5px;left:28px;cursor:pointer;z-index:2000}.dialog_maximize{width:14px;height:15px;background:transparent url(/js/prototype/windows/themes/default/maximize.gif) no-repeat 0 0;position:absolute;top:5px;left:49px;cursor:pointer;z-index:2000}.dialog_title{float:left;height:14px;font-family:Tahoma,Arial,sans-serif;font-size:12px;text-align:center;width:100%;color:#000}.dialog_content{overflow:auto;color:#DDD;font-family:Tahoma,Arial,sans-serif;font-size:10px;background-color:#123}.top_draggable,.bottom_draggable{cursor:move}.status_bar{font-size:12px}.status_bar
input{font-size:12px}.wired_frame{display:block;position:absolute;border:1px
#000 dashed}.dialog{display:block;position:absolute}.dialog
table.table_window{border-collapse:collapse;border-spacing:0;width:100%;margin:0px;padding:0px}.dialog table.table_window td , .dialog table.table_window
th{padding:0}.dialog
.title_window{-moz-user-select:none}
.dialog{border:1px
solid #555}.dialog
.bot{display:none !important}.overlay_magento{background-color:#000;filter:alpha(opacity=60);-moz-opacity:.6;opacity:.6;-webkit-opacity:.6}.top.table_window{border-bottom:1px solid #e6e6e6;background:#6a838b url(/js/prototype/windows/themes/magento/top_bg.gif) 0 100% repeat-x}.magento_nw{width:6px;height:28px}.magento_n{height:28px}.magento_ne{width:6px;height:28px}.magento_w{width:6px}.magento_e{width:6px}.magento_w,.magento_e,.magento_content{background:#fafafa url(/js/prototype/windows/themes/magento/content_bg.gif) 0 0 repeat-x}.magento_sw{background:#deebf0;width:5px;height:3px}.magento_s{background:#deebf0;height:3px}.magento_se,.magento_sizer{background:#deebf0;width:5px;height:3px}.magento_sizer{cursor:se-resize}.magento_close{width:16px;height:16px;background:url(/js/prototype/windows/themes/magento/window_close.png) no-repeat 0 0;position:absolute;top:5px;right:7px;cursor:pointer;z-index:1000}.magento_minimize{width:16px;height:16px;background:url(/js/prototype/windows/themes/magento/window_minimize.png) 0 0 no-repeat;position:absolute;top:5px;right:28px;cursor:pointer;z-index:1000}.magento_maximize{width:16px;height:16px;background:url(/js/prototype/windows/themes/magento/window_maximize.png)0 0 no-repeat;position:absolute;top:5px;right:49px;cursor:pointer;z-index:1000}.magento_title{float:left;width:100%;font:bold 12px/28px Arial,Helvetica,sans-serif;color:#fff;text-align:left}.magento_content{overflow:auto;font-size:12px}.magento_content,
.magento_content
label{color:#333;font-family:Arial,sans-serif}.magento_buttons{padding:10px;text-align:right}.magento_buttons
input.button{border-width:1px;border-style:solid;border-color:#ed6502 #a04300 #a04300 #ed6502;background:#ffac47 url(/js/prototype/windows/themes/magento/btn_bg.gif) 0 100% repeat-x;padding:0
7px 1px 7px;font:bold 12px/18px Arial, Helvetica, sans-serif;color:#fff;cursor:pointer;text-align:center;white-space:nowrap}* html
.magento_close{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/magento/window_maximize.png", sizingMethod="crop")}* html
.magento_minimize{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/magento/window_close.png", sizingMethod="crop")}* html
.magento_maximize{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/magento/window_minimize.png", sizingMethod="crop")}
#lightbox{position:absolute;left:0;width:100%;z-index:100;text-align:center;line-height:0}#lightbox
img{width:auto;height:auto}#lightbox a
img{border:none}#outerImageContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0
auto}#imageContainer{padding:10px}#loading{position:absolute;top:40%;left:0%;height:25%;width:100%;text-align:center;line-height:0}#hoverNav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}#imageContainer>#hoverNav{left:0}#hoverNav
a{outline:none}#prevLink,#nextLink{width:49%;height:100%;background-image:url(data:image/gif;base64,AAAA);display:block}#prevLink{left:0;float:left}#nextLink{right:0;float:right}#prevLink:hover,#prevLink:visited:hover{background:url(/js/amasty/ampgrid/lightbox/images/prevlabel.gif) left 15% no-repeat}#nextLink:hover,#nextLink:visited:hover{background:url(/js/amasty/ampgrid/lightbox/images/nextlabel.gif) right 15% no-repeat}#imageDataContainer{font:10px Verdana, Helvetica, sans-serif;background-color:#fff;margin:0
auto;line-height:1.4em;overflow:auto;width:100%	}#imageData{padding:0
10px;color:#666}#imageData
#imageDetails{width:70%;float:left;text-align:left}#imageData
#caption{font-weight:bold}#imageData
#numberDisplay{display:block;clear:left;padding-bottom:1.0em}#imageData
#bottomNavClose{width:66px;float:right;padding-bottom:0.7em;outline:none}#overlay{position:absolute;top:0;left:0;z-index:90;width:100%;height:500px;background-color:#000}