
.lte-ie8 .hide-below-1680{display:inherit !important}.lte-ie8 .hide-below-1440{display:inherit !important}.lte-ie8 .hide-below-1360{display:inherit !important}.lte-ie8 .hide-below-1280{display:inherit !important}.dropdown.open .dropdown-content, .nav-regular .nav-panel--dropdown{border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee}.truncated .truncated_full_value .item-options, .form-search .search-autocomplete ul,.remember-me-popup,.map-popup{border:1px
solid #eee}.sticky-header .sticky-container{border-bottom:1px solid #eee}.caption.dark1 .heading,
.caption.dark1 p,
.caption.dark2 .heading,
.caption.dark2 p,
.caption.dark3 .heading,
.caption.dark3
p{background-color:rgba(0,0,0, 0.65);background-color:#000}.caption.light1 .heading,
.caption.light1 p,
.caption.light2 .heading,
.caption.light2 p,
.caption.light3 .heading,
.caption.light3
p{background-color:rgba(255,255,255, 0.8);background-color:#fff}.header .form-search .input-text{float:none !important}.header-top-search-wrapper{width:24%}.header .form-search
.button{background-color:transparent}.header .form-search .button
span{background-color:transparent}.mobile-collapsible .block-content{display:block !important}.mobile-collapsible
.opener{display:none !important}.products-grid.equal-height .item
.actions{min-height:45px}