h3.robin-header {
	background: url(http://robinhq.com/mail/magento/logo_extension.png) no-repeat scroll 0 0 transparent;
	height: 52px;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
	width: 200px;
}