
<div class="page-title">
    <h1 class='h1_opc'><?php echo Mage::getStoreConfig('onepagecheckout/general/title') ?></h1>
    <?php echo $this->__('Fill in the fields below to complete your purchase!') ?>
    <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()){ ?>
    <p class="onepagecheckout_loginarea">
        <a href="javascript:void(0)" class="onepagecheckout_loginlink" onclick='open_login();'>
            <?php echo $this->__('Already registered? Click here to login') ?>
        </a>
    </p>
	<?php 
		echo $this->getChildHtml('customer.login');
		echo $this->getChildHtml('customer.forgot');
    }
    ?>
</div>
<div class='ptdivline'></div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php
$seq_http	= (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on');
$browser  = $_SERVER ['HTTP_USER_AGENT'];
?>
<script type="text/javascript">
	var http_type	= '<?php if($seq_http){echo 'https';}else{echo 'http';}?>';
</script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/onepagecheckout.js') ?>"></script>

<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>

<form action="javascript:void(0)" method="POST" id="onepagecheckout_orderform" autocomplete="on">
<div class="col3-set onepagecheckout_datafields">
    <div class="col-1 iwd-1">
        <?php echo $this->getChildHtml('billing.address') ?>
        <?php echo $this->getChildHtml('shipping.address') ?>
    </div>

    <div class="col-2 iwd-2">
        <?php echo $this->getChildHtml('shipping.method') ?>
        <?php echo $this->getChildHtml('payment.method') ?>
         <div id="checkout-coupon-discount-load">
            <?php echo $this->getChildHtml('coupon') ?>
        </div>
        <?php if (Mage::getStoreConfig('onepagecheckout/general/comment')) : ?>
		<div class="op_block_title">
	    	<?php echo $this->helper('sales')->__('Comment') ?>
	    </div>        
        <div class="form_fields">
            <div class="full">
                <div class="data_area" id='comment-block'>
                    <textarea name="order-comment" id="order-comment"><?php echo trim(Mage::getSingleton('customer/session')->getOrderCustomerComment()) ?></textarea>
                </div>
            </div>
        </div>
        <?php endif; ?>
		<?php if (Mage::helper('onepagecheckout')->isSubscribeNewAllowed()) : ?>
            <p class="newsletter">
                <input type="checkbox" id="newsletter-signup" name="newsletter" value="1" title="<?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>" class="checkbox" />
                <label for="newsletter-signup">
                    <?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>
                </label>
            </p>
        <?php endif; ?>
    </div>

    <div class="col-3">
        <?php echo $this->getChildHtml('review') ?>
    </div>
    <input type='submit' id='opc_submit_form' style='visibility:hidden;' />
</div>
</form>
<script type="text/javascript">
//<![CDATA[
    var checkout = new OPC('onepagecheckout_orderform', {
    	save    : '<?php echo $this->getUrl('onepagecheckout/index/saveOrder', array('_secure'=>$seq_http)) ?>',
    	update  : '<?php echo $this->getUrl('onepagecheckout/index/updateCheckout', array('_secure'=>$seq_http)) ?>',
        success : '<?php echo $this->getUrl('onepagecheckout/index/success', array('_secure'=>$seq_http)) ?>',
        failure : '<?php echo $this->getUrl('checkout/cart') ?>'
    }, "<?php echo $this->__('Please agree to all the terms and conditions.') ?>");

    <?php if(Mage::helper('onepagecheckout')->isAddressVerificationEnabled()):?>
    function show_verifications_error(){

    	var w = $('address-verification-results').getWidth();
    	var hh = document.body.getHeight();

    	var view = document.viewport.getDimensions();

    	var ww = view.width;
    	var d	= (ww - w)/2;

    	<?php if (!preg_match('/MSIE 8/i', $browser) && !preg_match('/MSIE 7/i', $browser)):?>
    	var y = window.pageYOffset+70;
    	$('address-verification-results').setStyle({
			left: d+'px',
			top: y+'px'
  		});
  		<?php else:?>
    	$('address-verification-results').setStyle({
			left: d+'px'
  		});
		<?php endif;?>

    	$('address-verification-results').show();
    	
    	<?php $is_mobile	= Mage::helper('onepagecheckout')->isMobile();
    	if(!$is_mobile):?>
    	var el = $('iwdavPopupOverlay');
    	el.setStyle({
			width: ww+'px',
			height: hh+'px'
  		});
    	
    	el.show();
    	<?php else:?>
    	$('onepagecheckout_orderform').hide(); // hide form for mobile devices 
    	<?php endif;?>
    }
    function close_verification()
    {
    	<?php $is_mobile	= Mage::helper('onepagecheckout')->isMobile();
    	if(!$is_mobile):?>        
		$("iwdavPopupOverlay").hide();
		<?php else:?>
		$('onepagecheckout_orderform').show(); // show form for mobile devices
		<?php endif;?>
		$('address-verification-results').hide();
	}
	<?php endif; ?>
    
    document.observe("dom:loaded", function() {
        var win_triggers	= Array();
   		$$('.checkout-agreements .agree a').each(function(item){
   			var obj	= {
   				el: $$('.' + item.className),
   		   		event: 'click',
				window: $(item.className + '-window')
			};
   			win_triggers.push(obj);
        });
		opc_window	= new OPC.Window({triggers: win_triggers});
    });
//]]>
</script>

<?php if(Mage::helper('onepagecheckout')->isAddressVerificationEnabled()):
$is_mobile	= Mage::helper('onepagecheckout')->isMobile();?>
<div style='display:none;left:0;' class="iwdav_modal <?php if($is_mobile){echo ' iwdav_modal_mobile';}?>" id="address-verification-results">
<div id="checkout-address-candidates-load"></div>
</div>
<?php if(!$is_mobile):?>
<div id='iwdavPopupOverlay' class='iwdavPopupOverlay' style='display:none;'>&nbsp;</div>
<?php endif;?>
<?php endif; ?>