<?php

/**
 * The current option
 */
$_option = $this->getOption();

/**
 * All the selections of the current option
 */
$_selections = $_option->getSelections();

/**
 * The default selection of the current option
 */
$_default = $_option->getDefaultSelection();

?>

<script type="text/javascript">var updateStatus = <?php echo Zend_Json::encode($this->getUpdateStatus()) ?></script>
<div class="bundle-option">
    <div class="bundle-info">
        <?php

        $p = reset($this->getConfigurables());

        $productAttributeOptions = $p->getTypeInstance(true)->getConfigurableAttributesAsArray($p);
        $firstAttribute = current($productAttributeOptions);

        ?>

        <!--<div class="bundle-info-left">
            <?php echo '<img src="'.$this->helper('catalog/image')->init($p, 'image')->resize(100).'" id="bundle-option-image-' . $_option->getId() .'" alt="" />'; ?>
        </div>-->
        <div class="bundle-info-right">
            <div class="bundle-title">
                <?php $required = ($_option->getRequired()) ? '<span class="option-required">*</span>' : '' ?>
                <!--<div id="bundle-option-name-<?php echo $_option->getId() ?>"><?php echo $_option->getTitle() ?><?php echo $required ?></div>-->

                <div class="selection-name" id="bundle-selection-name-<?php echo $_option->getId() ?>">
                    <?php
                    $display = (count($this->getConfigurables()) == 1) ? 'style="display: none;" ' : '';
                    if(count($this->getConfigurables()) == 1) {
                        echo ' ';
                    }

                    echo '<select id="configurables-' . $_option->getId() . '-select" '. $display. 'onchange="fillFirstAttribute(' . $_option->getId() . ');">';

                    foreach($this->getConfigurables() as $configurable) {
                        echo '<option value="' . $configurable->getId() . '">' . $configurable->getName() . '</option>';
                    }

                    echo '</select>';
                    ?>
                </div>
            </div>
            <div class="bundle-description">
                <!--<div id="bundle-option-description-<?php echo $_option->getId() ?>"><?php echo $p->getDescription(); ?></div>

                <div id="bundle-option-stock-<?php echo $_option->getId() ?>">
                    <?php if ($p->isAvailable()): ?>
                        <p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p>
                    <?php else: ?>
                        <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                </div>
            	<div class="error-msg out-of-stock-warning hidden" id="oos-warning-<?php echo $_option->getId() ?>">
                	This item is not in stock, you cannot put the bundle in the cart with this item.
            	</div>-->
            </div>
            <!--<div class="bundle-option-qty">
                <?php
                if ($_default):
                    $_defaultQty = $_default->getSelectionQty()*1;
                    $_canChangeQty = $_default->getSelectionCanChangeQty();
                else:
                    $firstChildProduct = current($_selections);
                    $_defaultQty = $firstChildProduct->getSelectionQty()*1;
                    $_canChangeQty = $firstChildProduct->getSelectionCanChangeQty();
                endif;
                ?>
                <input type="text" id="bundle-option-<?php echo $_option->getId() ?>-qty-input" onkeyup="bundle.changeOptionQty(this, event)" onblur="bundle.changeOptionQty(this, event)" class="input-text qty<?php echo $_canChangeQty?'':' qty-disabled' ?>" <?php echo $_canChangeQty?'' : 'disabled="disabled"'?> name="bundle_option_qty[<?php echo $_option->getId() ?>]" value="<?php echo $_defaultQty ?>" />
            </div>-->

            <select onchange="bundle.changeSelection(this)" style="display: none;" id="bundle-option-<?php echo $_option->getId() ?>-select" name="bundle_option[<?php echo $_option->getId() ?>]" class="bundle-option-<?php echo $_option->getId() ?><?php if ($_option->getRequired()) echo ' required-entry' ?> bundle-option-select change-container-classname">
                <option value=""><?php echo $this->__('Choose a selection...') ?></option>
                <?php foreach ($_option->getSelections() as $_selection): ?>
                    <?php if($_selection->getTypeId() == 'simple') : ?>
                    <option value="<?php echo $_selection->getSelectionId() ?>"<?php if ($this->_isSelected($_selection)) echo ' selected="selected"' ?><?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>><?php echo $this->getSelectionTitlePrice($_selection, false) ?></option>
                    <?php endif; ?>
                <?php endforeach; ?>
            </select>

            <div class="bundle-options" id="bundle-options-<?php echo $_option->getId() ?>">
                <dl>
                </dl>
            </div>
        </div>
        <div class="clearer"></div>
    </div>
</div>
