<a href="#verpage" style="display: none;" class="nyroModal">(hidden div)</a>
<div id="verpage" class="block" style="display:none;">
    <?php if ($logo = $this->getLogo()): ?>
    <div class="verpage_logo">
        <?php echo $logo ?>  
    </div>
    <?php endif; ?>
    <?php if ($text = $this->getText(1)): ?>
    <div class="verpage_text">
        <?php echo $text ?>
    </div>
    <?php endif; ?>
    <div class="verpage_select">
        <?php echo $this->getVerSelect() ?>
    </div>
    <div class="verpage_actions">
        <button class="button exit" title="Exit" type="submit">
            <span>
                <span><?php echo $this->getLeaveText() ?></span>
            </span>
        </button>
        <button class="button enter disabled" title="Enter" type="submit">
            <span>
                <span><?php echo $this->getEnterText() ?></span>
            </span>
        </button>
    </div>
    <?php if ($text = $this->getText(2)): ?>
    <div class="verpage_text">
        <?php echo $text ?>    
    </div>
    <?php endif; ?>
    <?php if ($confirmText = $this->getConfirmText()): ?>
    <div class="verpage_confirm">
        <input id="verpage_confirm" class="checkbox" type="checkbox" value="1" name="verpage_confirm">
        <label for="verpage_confirm"><?php echo $confirmText ?></label>
    </div>
    <?php endif; ?>
</div>
<script type="text/javascript">
<?php if (Mage::getStoreConfigFlag('verpage/settings/singlecheck')): ?>
if (!verpage.isValid()) {
<?php endif; ?>
jQblvg(document).ready( function() {
    verpage.age = <?php echo (int)$this->getVerAge() ?>;
    jQblvg.nmObj({closeOnClick: false, closeOnEscape: false, closeButton: false})
    jQblvg('.nyroModal').nm();
    jQblvg('.nyroModal').trigger('click');
    jQblvg('.verpage_actions .exit').click( function() {
        //window.location = '<?php echo $this->getLastUrl() ?>';
        history.back();
    });
    verpage.checkEnterButton();
    jQblvg('.verpage_select select').change( function() {
        verpage.checkEnterButton();  
    });
    jQblvg('#verpage_confirm').change( function() {
        verpage.checkEnterButton();
    });
});
<?php if (Mage::getStoreConfigFlag('verpage/settings/singlecheck')): ?>
};
<?php endif; ?>
</script>
<?php if ($styles = $this->getStyles()): ?>
<style type="text/css">
    <?php echo $styles ?>
</style>
<?php endif; ?>