<?php 
$_product    = $this->getProduct();
$_configurableSimple = Mage::helper('configurableproductssimpleprices')->isEnable($_product);
$_option = $this->getProduct()->getOptions();
?>
<?php if ($_product->isSaleable() && count($_option) && $_configurableSimple):?>
<input type="hidden" id="customoptionprice" name="customoptionprice"/>
<script type="text/javascript">
if(typeof spConfig != 'undefined'){
	$$('#product-options-wrapper .product-custom-option, #product-options-wrapper .super-attribute-select').each(function(ele){
		ele.observe('change',function(){
			var price = 0;
			$$('#product-options-wrapper .product-custom-option').each(function(element){
				if (element.type == 'checkbox' || element.type == 'radio') {
					if (element.checked) {
						price += (1*element.getAttribute('price'));
					}
				} else if(element.hasClassName('datetime-picker') && !skipIds.include(optionId)) {
					var dateSelected = true;
					$$('.product-custom-option[id^="options_' + optionId + '"]').each(function(dt){
						if (dt.getValue() == '') {
							dateSelected = false;
						}
					});
					if (dateSelected) {
						price += (1*element.getAttribute('price'));
					}
				} else if(element.type == 'select-one' || element.type == 'select-multiple') {
					if ('options' in element) {
						$A(element.options).each(function(selectOption){
							if ('selected' in selectOption && selectOption.selected) {
								price += (1*selectOption.getAttribute('price'));;
							}
						});
					}
				} else {
					if (element.getValue().strip() != '') {
						price += (1*element.getAttribute('price'));
					}
				}
			});
			if($('customoptionprice')) $('customoptionprice').value = price;
		});
	});
}
</script>
<?php endif;?>