<?php if($couponCode = preg_replace('/<(.|\n)*?>/', '', $this->getCouponCode())): ?>
<div id="promomessages-mask" class="overlay-mask" onclick="closePromoOverlay();"></div>
<div id="promomessages-content" class="overlay-content">
    <a class="close" href="#" onclick="closePromoOverlay(); return false;">Close</a>
    <div class="overlay-content-wrap">
    <?php if(!$this->validateCoupon($couponCode)): ?>
        <?php echo $this->getErrorMsg(); ?>
    <?php else: ?>
        <?php if($ruleLabel = $this->getRuleLabel($couponCode)): ?>
            <p><?php echo $this->getMessage($couponCode); ?></p>
            <p><?php echo $ruleLabel; ?></p>
        <?php else: ?>
            <?php echo $this->getMessage($couponCode); ?>
        <?php endif; ?>
    <?php endif; ?>
    </div>
</div>
<script type="text/javascript">
    function closePromoOverlay() {
        $('promomessages-mask').fade();
        $('promomessages-content').fade();
    }
</script>
<?php endif; ?>
<script type="text/javascript">
    //<![CDATA[
    var PROMO_CODE = '<?php echo Mage::getSingleton('core/session')->getPromoCode(); ?>';
    //]]>
</script>