<?php
/**
 * Shopping Cart Editor
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aiteditablecart
 * @version      2.1.8
 * @license:     QJLpuB2aEkjYR94VLCHRHtZ5qCz3k9pHhguxuAjiFY
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
if(Mage::getStoreConfig('checkout/sce/ajax_mode')): ?>
<script type="text/javascript">
//<![CDATA[
    cart = new AitocCart('.product-options', '.qty', '<?php echo $this->getUrl('aiteditablecart/cart/updatePost', array('_secure'=>false)) ?>');
//]]>
</script>
    
<div id="loading-mask" style="display: none;">
<p class="loader" id="loading_mask_loader"><img src="<?php echo $this->getSkinUrl('images/aitoc-aiteditablecart-ajax-loader.gif')?>" alt="Loading..."><br>Please wait...</p>
</div>
<?php else: ?>
<script type="text/javascript">
//<![CDATA[
    $$('#shopping-cart-table .btn-update').each(function(elem){
        elem.observe('click', aitSceValidation)
    });

    function aitSceValidation(){
        var validator = new Validation($('shopping-cart-table').up('form'));
        if(validator && validator.validate()){
            return true;
        }
        return false;
    }
//]]>
</script>
<?php endif; ?>